
.inputField {
	width: 40%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#friendsHeader{
	text-align: center;
	font-weight: bold;
	margin-top: -15vw;
	font-size: 30px;
}


#submit {
	text-align: right;
}	

.label {
	font-weight: bold;
}

#friendsList {	
	width: 90%;

	
}


#backbtn {
	z-index: 1; 
     position: fixed; 
     left: 1vw; 
     margin-top: 13vw;
     font-size: 20px;
     padding: 15px;
     border-radius: 10px;	
}

body {
	margin-left: 2vw;
	margin-right: 2vw;
	margin-top: 2vw;
}