/*Container for all dropdown content */
.container {
    z-index: 10;
    position: fixed; 
    left: .5vw; 
    top: 45vw;
}

body {
    background-color: #F0F8FF;
 

}

/* Dropdown Button */
#dropbtn {
    color: black;
    padding: 16px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
}


/* Dropdown button on hover & focus */
#dropbtn:hover, #dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: fixed;
    display: inline-block;
    margin-top: -5vw;
}

.dropdownMC {
    margin-top: 0vw;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

h4 {
    text-align: center;
}

.header {
    margin-left: 30vw;
    margin-right: 5vw;
    text-align: center;
}

.headerMC {
    margin-left: 20%;
    margin-top: 0vw;
    text-align: center;
    font-weight: bold;
    font-size: 30px;

}

.headerJM {
    margin-left: 20%;
    text-align: center;
    font-weight: bold;
    margin-top: 5vw;
    font-size: 30px;
}

ul {
  list-style-type: none;
  float: left;
  text-align: left;


  margin-right: 5vw;
  margin-top: 5vw;
}

li {
  padding:13px;
  border-color: black;
  border-style: double;
  border-radius: 4px;
  text-align: center;
  width: 100%;

}

#meetingList{
    width: 90%;
}

#joinedMeetings{
    width: 90%;
}

#addMeetingButton {
    z-index: 1; 
    position: fixed; 
    right: 1vw; 
    bottom: 6vw;
    font-size: 25px;
    padding: 15px;
    border-radius: 20px;
}


#profileButton {
    z-index: 1;
    position: fixed;
    left: 1vw;
    top: 13vw;
    font-size: 25px;
    padding: 15px;
    border-radius: 20px;
}

#FriendsButton {
    z-index: 1; 
    position: fixed; 
    left: 1vw; 
    bottom: 6vw;
    font-size: 25px;
    padding: 15px;
    border-radius: 20px;
}

#MeetingButton {
    z-index: 1;
    position: fixed;
    right: 1vw;
    top: 13vw;
    font-size: 25px;
    padding: 15px;
    border-radius: 20px;
 }
/* addMeeting button on hover & focus */
#addMeetingButton:hover, #addMeetingButton:focus {
    background-color: #2980B9;
}
 
 #profileButton:hover, #profileButton:focus {
    background-color: #2080B9;
 }
#addFriendForm {
    margin-left: 4vw;
    margin-right: 4vw;
}

#friendsHeader{
    margin-top: 5vw;
    padding-top: 4vw;
}

#friendsList {
    margin-top: 15vw;
}

#submitBtn {
    width: 100%;
}

#friendsHeader{
    margin-right: 20%;


}

#instruction {
    margin-top: -2vw;
}

.listElements {
    background-color:white;
}

#backbtn {
    z-index: 1; 
    position: fixed; 
    left: 1vw; 
    font-size: 20px;
    padding: 12px;
    border-radius: 10px;   
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    margin-top: 15vw;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
